---
layout: default
---
<!--index.html-->

<div class="container">

    <div class="row">

      <div class="col-8 my-auto">

          <img class="img-fluid" src='https://drscdn.500px.org/photo/1025389804/m%3D900/v2?sig=ecce63d32b37069927d3d82ab571bfb6b7531c58fcfe1bbf4449715ec1bf339e' alt='PurpleBelt_and_Stripes by Aaron Anthony on 500px.com'>

      </div>

        <div class="col-4">
          {% include signup3.html %}
        </div>

    </div>

    <!--latest posts-->
    <div class="row">
      <div class="col">
        <h4>Latest Posts</h4>
        <ul>
          {% for post in site.posts %}
            <li>
              <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
              <!-- {{ post.excerpt }} -->
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

</div>
