<style>
  /* Modify the background color */

  .navbar-custom {
      background-color: purple;
  }

  /* Modify brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
      color: white;
  }

</style>


<nav class="navbar navbar-expand-sm navbar-dark navbar-custom fixed-top">

  <div class="container-fluid">

    <a class="navbar-brand" href="/">Superfluid Jiujitsu</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav ml-auto">

        <a class="nav-link d-inline" href="/about.html"> About </a>
        <a class="nav-link d-inline" href="/shirts.html"> Shirts </a>
        <a class="nav-link d-inline" href="/nutrition.html"> Nutrition </a>
        <a class="nav-link d-inline" href="/mobility.html"> Mobility </a>
        <a class="nav-link d-inline" href="/refferals.html"> Refferals </a>
        <a class="nav-link d-inline" href="/blog.html"> Blog </a>

      </div>

    </div>

  </div>

</nav>
