<!-- <div class="social-links"> -->

  <ul class="social-media-list p-0">

    <a class="btn" href="https://www.instagram.com/superfluid_jiujitsu">
        <i class="fab fa-instagram fa-2x"></i>
    </a>

    <a class="btn" href="#">
      <i class="fab fa-youtube fa-2x"></i>
    </a>

    <a class="btn" href="#">
      <i class="fas fa-rss fa-2x"></i>
    </a>

    <a class="btn" href="https://www.facebook.com/superfluid_jiujitsu">
      <i class="fab fa-facebook-square fa-2x"></i>
    </a>

    <a class="btn" href="mailto:aaron@superfluid_jiujitsu.com">
      <i class="fas fa-paper-plane fa-2x"></i>
    </a>

  </ul>

<!-- </div> -->
