body {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: 'Balsamiq Sans', cursive;
  /* line-height: 1.5; */
  color: #fff;
  text-align: left;
  background-color: #222;
  padding-top: 99px; /*for z nav bar*/
  padding-bottom: 99px; /*for z footer*/
  height: 100vh;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 0.3rem;
}


.navbar-custom {
  background-color: #1C57C9; /*nice royal blue TODO: Factor Out Colors*/
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

.navbar-brand {
  line-height:1.3;
}

.navbar-brand small {
  display:block;
  font-size:12px;
}

/*  footer */
 .a {
  color: white;
  font-size:22px;
}

/* card styling from jumbotron */
.card {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 0.3rem;
}
